<% provide(:title, "勇者一覧") %>

<main>
  <h1><%= yield(:title) %></h1>
  
  <table id="heros_table" class="table table-hover mt-3">
    <thead>
      <tr class="bg-light">
        <th><!-- 何も入れない --></th>
        <th>勇者名</th>
        <th>タイプ</th>
        <th>SSR数</th>
        <th>HP</th>
        <th>ATK</th>
        <th>踏張</th>
        <th>速度</th>
        <th>CRT</th>
        <th>コスト</th>	
        <th>SP</th>
        <th>必殺技<br>倍率</th>
        <th>必殺技<br>ATK</th>
      </tr>
    </thead>
    
    <tbody>
      <% @heros.each do |hero| %>
        <% ssrs = hero.ssrs.where("rare = ?", "SSR") %>
        <% if ssrs.count > 0 %>
          <tr>
            <td class="add-image-title">
              <% unless hero.icon_url.blank? %>
                <a href="<%= hero_path(hero) %>"><%= image_tag hero.icon_url, alt: hero.name, class: "icon" %></a>
              <% end %>
            </td>
            <td class="hero_name"><%= link_to hero.name, hero_path(hero) %></td>
            <td><%= hero.hero_type.name %></td>
            
            <%= render 'column', hero_id: hero.id, max: @maxmin[:count_max], min: @maxmin[:count_min], data: hero.ssr_count %>
            <%= render 'column', hero_id: hero.id, max: @maxmin[:hp_max], min: @maxmin[:hp_min], data: "%.15g"%(hero.hp_ave.to_f.round(1) / 10.0) %>
            <%= render 'column', hero_id: hero.id, max: @maxmin[:atk_max], min: @maxmin[:atk_min], data: "%.15g"%(hero.atk_ave.to_f.round(1) / 10.0) %>
            <%= render 'column', hero_id: hero.id, max: @maxmin[:stamina_max], min: @maxmin[:stamina_min], data: Ssr.status_str(hero.stamina_ave) %>
            <%= render 'column', hero_id: hero.id, max: @maxmin[:speed_max], min: @maxmin[:speed_min], data: Ssr.status_str(hero.speed_ave) %>
            <%= render 'column', hero_id: hero.id, max: @maxmin[:crt_max], min: @maxmin[:crt_min], data: Ssr.status_str(hero.crt_ave) %>
            <%= render 'column', hero_id: hero.id, max: @maxmin[:cost_max], min: @maxmin[:cost_min], data: "%.15g"%(hero.cost_ave.to_f.round(1) / 10.0) %>
            <%= render 'column', hero_id: hero.id, max: @maxmin[:sp_max], min: @maxmin[:sp_min], data: "%.15g"%(hero.sp_ave.to_f.round(1) / 10.0) %>
            <%= render 'column', hero_id: hero.id, max: @maxmin[:sp_ratio_max], min: @maxmin[:sp_ratio_min], data: "%.15g"%((hero.sp_ratio_ave.to_f / 100.0).round(1)) %>
            <%= render 'column', hero_id: hero.id, max: @maxmin[:sp_atk_max], min: @maxmin[:sp_atk_min], data: "%.15g"%((hero.sp_atk_ave.to_f / 100.0).round(1)) %>

          </tr>
        <% end %>
      <% end %>
      
      <% ssrs = Ssr.where("rare = ?", "SSR") %>
      <% if ssrs.count > 0 %>
        <tr class="average">
          <td class="add-image-title"></td>
          <td class="hero_name">全勇者</td>
          <td></td>
          <td><%= ssrs.count %></td>
          <td><%= "%.15g"%(ssrs.average("hp").to_f.round(1)) %>
          <td><%= "%.15g"%(ssrs.average("atk").to_f.round(1)) %>
          <td><%= Ssr.status_str(ssrs.average("stamina").to_f.round) %>
          <td><%= Ssr.status_str(ssrs.average("speed").to_f.round) %>
          <td><%= Ssr.status_str(ssrs.average("crt").to_f.round) %>
          <td><%= "%.15g"%(ssrs.average("cost").to_f.round(1)) %>
          <td><%= "%.15g"%(ssrs.average("sp").to_f.round(1)) %>
          <td><%= "%.15g"%((ssrs.average("sp_ratio").to_f / 10.0).round(1)) %>
          <td><%= "%.15g"%((ssrs.average("sp_atk").to_f / 10.0).round(1)) %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  
  
</main>