<% provide(:title, "#{@hero.name}SSRステータス") %>

<main>
  <div class="add-image-title">
    <%= image_tag @hero.icon_url, class: 'icon' unless @hero.icon_url.empty? %>
    <h1><%= yield(:title) %></h1>
  </div>
  <!--<h1><%= yield(:title) %></h1>-->
  <%= render 'shared/table' %>
  
  <div class="btnlink">
    <%= link_to "戻る", root_path, class: "btn btn-info" %>
    <%= link_to "勇者編集", edit_hero_path(@hero), class: 'btn btn-primary' if logged_in? %>
    <%= link_to "csv出力", hero_path(@hero, format: :csv), class: 'btn btn-secondary' %>
  </div>
  
  <div>
    
  </div>
  
  <div class="csvlink">
    
  </div>  
</main>
