<div class="ssr-form">
  <%= form_with(model: @ssr, local: true) do |f| %>
  
    <%= render 'ssrs/form_error' %>
  
    <%= f.label :name, '名称' %>
    <%= f.text_field :name, class: "form-control mb-2" %>
    
    
    <%= f.label :hero_id, '勇者名' %>
    <%# heros_array = @heros.map { |hero| [hero.name, hero.id] } %>
    <%#= f.select :hero_id, heros_array, class: "form-control" %>
    <%#= ↑だとclassがうまく展開されないのでべた書き %>
    <select name="ssr[hero_id]" id="ssr_hero_id" class="form-control mb-2">
      <% Hero.all.each do |hero| %>
        <option value="<%= hero.id %>"<%= " selected" if @ssr.hero_id == hero.id %>><%= hero.name %>[<%= hero.hero_type.name %>]</option>
      <% end %>
    </select>
    
    <%= f.label :rare, 'レア' %>
    <select name="ssr[rare]" id="ssr_rare" class="form-control mb-2">
      <% Ssr.rare_array.each do |rare| %>
        <option value="<%= rare %>"  <%= " selected" if @ssr.rare == rare %>><%= rare %></option>
      <% end %>
    </select>
    
    <%= f.label :color_id, '属性' %>
    <select name="ssr[color_id]", id="ssr_color_id" class="form-control mb-2">
      <% Color.all.each do |color| %>
        <option value="<%= color.id %>"<%= " selected" if @ssr.color_id == color.id %>><%= color.mean %></option>
      <% end %>
    </select>
    
    <%= f.label :hp, "HP" %>
    <%= f.text_field :hp, class: "form-control mb-2" %>
    
    <%= f.label :atk, "ATK" %>
    <%= f.text_field :atk, class: "form-control mb-2" %>
    
    <%= f.label :stamina, "踏張" %>
    <select name="ssr[stamina]" id="ssr_stamina" class="form-control mb-2">
      <%= render 'ssrs/status_select', now: @ssr.stamina %>
    </select>
  
    <%= f.label :speed, "速度" %>
    <select name="ssr[speed]" id="ssr_speed" class="form-control mb-2">
      <%= render 'ssrs/status_select', now: @ssr.speed %>
    </select>
  
    <%= f.label :crt, "CRT" %>
    <select name="ssr[crt]" id="ssr_crt" class="form-control mb-2">
      <%= render 'ssrs/status_select', now: @ssr.crt %>
    </select>
    
    <%= f.label :cost, "コスト" %>
    <%= f.text_field :cost, class: "form-control mb-2" %>
    <%= f.label :sp, "SP" %>
    <%= f.text_field :sp, class: "form-control mb-2" %>
  
    <%= f.label :sp_ratio, "必殺技倍率(10倍した値を入れて下さい)" %>
    <%= f.text_field :sp_ratio, class: "form-control mb-2" %>
    
    <%# 保存時に計算するので現時点の値を入れる %>
    <% if @ssr.sp_atk.nil? %>
      <% @ssr.sp_atk = 0 %>
    <% end %>
    
    <%= f.hidden_field :sp_atk %>
    
    <%= f.label :image_url, "画像ファイル(任意)" %>
    <%= f.text_field :image_url, class: "form-control mb-2" %>
    
    <%= f.submit yield(:button_text), class: "btn btn-primary form-control mt-3" %>
  <% end %>
</div>
