<header>
  <h1><%= @title %></h1>
</header>
<main>
  <section id="explain">
    <ul>
      <li><span class="UR">　</span>色の行はURの勇者です(参考値)。</li>
      <li><span class="SR">　</span>色の行はSRの勇者です(参考値。データは弥勒蓮華しか入れてません)。</li>
      <li><span class="R">　</span>色の行はRの勇者です(参考値。データは弥勒蓮華しか入れてません)。</li>
      <li>必殺技倍率は連撃の場合はすべての倍率を足した値になっています。</li>
      <li>必殺技倍率に属性特効は加味していません。</li>
      <li>敵の最大HPの○割というものがある必殺技は1倍で計算しています。</li>
    </ul>
  </section>

  <table>
    <thead>
      <tr>
        <th>属性</th>
        <th>勇者名</th>
        <th>タイプ</th>
        <th>名称</th>
        <th>HP</th>
        <th>ATK</th>
        <th>踏張</th>
        <th>速度</th>
        <th>CRT</th>
        <th>コスト</th>	
        <th>SP</th>
        <th>必殺技<br>倍率</th>
        <th>必殺技<br>ATK<br><a href="?<%= @query_str %>order=asc_sp_atk">▲</a><a href="?<%= @query_str %>order=desc_sp_atk">▼</a></th>
      </tr>
    </thead>
    <tbody>
      <% @ssrs.each do |ssr| %>
        <% hp_class       = "" %>
        <% atk_class      = "" %>
        <% stamina_class  = "" %>
        <% speed_class    = "" %>
        <% crt_class      = "" %>
        <%# costだけ最大最小逆にする %>
        <% cost_class     = "" %>
        <% sp_class       = "" %>
        <% sp_ratio_class = "" %>
        <% sp_atk_class   = "" %>

        <tr class="<%= ssr.rare %>">
          <td class="attr_<%= ssr.color_str %> ssr_color">　</td>
          <td class="ssr"><%= ssr.hero.name %></td>
          <td class="ssrtype"><%= ssr.hero.hero_type %></td>
          <td class="ssrname"><%= ssr.name %></td>

          <td>
          <% if hp_class == "" %>
            <%= ssr.hp %>
          <% else %>
            <strong class="<%= hp_class %>"><%= ssr.hp %></strong>
          <% end %>
          </td>
            
          <td>
          <% if atk_class == "" %>
            <%= ssr.atk %>
          <% else %>
            <strong class="<%= atk_class %>"><%= ssr.atk %></strong>
          <% end %>
          </td>

          <td>
            <% if stamina_class == "" %>
              <%= ssr.status_str(ssr.stamina) %>
            <% else %>
              <strong class="<%= stamina_class %>"><%= ssr.status_str(ssr.stamina) %></strong>
            <% end %>
          </td>

          <td>
            <% if speed_class == "" %>
              <%= ssr.status_str(ssr.speed) %>
            <% else %>
              <strong class="<%= speed_class %>"><%= ssr.status_str(ssr.speed) %></strong>
            <% end %>
          </td>

          <td>
            <% if crt_class == "" %>
              <%= ssr.status_str(ssr.crt) %>
            <% else %>
              <strong class="<%= crt_class %>"><%= ssr.status_str(ssr.crt) %></strong>
            <% end %>
          </td>

          <td>
            <% if cost_class == "" %>
              <%= ssr.cost %>
            <% else %>
              <strong class="<%= cost_class %>"><%= ssr.cost %></strong>
            <% end %>
          </td>

          <td>
            <% if sp_class == "" %>
              <%= ssr.sp %>
            <% else %>
              <strong class="<%= sp_class %>"><%= ssr.sp %></strong>
            <% end %>
          </td>

          <td>
            <% sp_ratio = "%.15g"%(ssr.sp_ratio / 10.0) %>
            <% if sp_ratio_class == "" %>
              <%= sp_ratio %>
            <% else %>
              <strong class="<%= sp_ratio_class %>"><%= sp_ratio %></strong>
            <% end %>
          </td>
          <td>
            <% sp_atk = "%.15g"%(ssr.sp_atk / 10) %>
            <% if sp_atk_class == "" %>
              <%= sp_atk %>
            <% else %>
              <strong class="<%= sp_atk_class %>"><%= sp_atk %></strong>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>