<main>
  <h1 class="display-4 pt-5"><%= yield(:title) %></h1>
  
  <section>
    <div class="mt-4 table-responsive">
      <h2 class="mb-3">SSR一覧</h2>
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="bg-light">
            <th>属性</th>
            <th>勇者名</th>
            <th>タイプ</th>
            <th>名称</th>
            <th>HP</th>
            <th>ATK<br><%= link_to "▼", @paths[:atk_desc] unless @paths.nil? or @paths[:atk_desc].nil? %></th>
            <th>踏張</th>
            <th>速度</th>
            <th>CRT</th>
            <th>コスト</th>	
            <th>SP</th>
            <th>必殺技<br>倍率</th>
            <th>必殺技<br>ATK<br><%= link_to "▼", @paths[:spatk_desc] unless @paths.nil? or @paths[:spatk_desc].nil? %></th>
          </tr>
        </thead>
        <tbody>
          <% @ssrs.each do |ssr| %>
            <% hp_class       = ssr.puts_maxmin_class(@max[:hp], @min[:hp], "hp") %>
            <% atk_class      = ssr.puts_maxmin_class(@max[:atk], @min[:atk], "atk") %>
            <% stamina_class  = ssr.puts_maxmin_class(@max[:stamina], @min[:stamina], "stamina") %>
            <% speed_class    = ssr.puts_maxmin_class(@max[:speed], @min[:speed], "speed") %>
            <% crt_class      = ssr.puts_maxmin_class(@max[:crt], @min[:crt], "crt") %>
            <%# costだけ最大最小逆にする %>
            <% cost_class     = ssr.puts_maxmin_class(@min[:cost], @max[:cost], "cost") %>
            <% sp_class       = ssr.puts_maxmin_class(@max[:sp], @min[:sp], "sp") %>
            <% sp_ratio_class = ssr.puts_maxmin_class(@max[:sp_ratio], @min[:sp_ratio], "sp_ratio") %>
            <% sp_atk_class   = ssr.puts_maxmin_class(@max[:sp_atk], @min[:sp_atk], "sp_atk") %>
    
            <tr class="<%= ssr.rare %>">
              <td class="attr_<%= ssr.color.name %> hero_color">
                <%= link_to "　", color_path(ssr.color) %>
              </td>
              <td class="ssr"><%= link_to ssr.hero.name, hero_path(ssr.hero) %></td>
              <td class="ssrtype"><%= link_to ssr.hero.hero_type.name, hero_type_path(ssr.hero.hero_type) %></td>
              
              <% if ssr.name.length > 10 %>
                <% css_long_name = " longname" %>
              <% else %>
                <% css_long_name = "" %>
              <% end %>
              <td class="ssrname<%= css_long_name %>"><%= ssr.name %></td>
    
              <td>
              <% if hp_class == "" %>
                <%= ssr.hp %>
              <% else %>
                <strong class="<%= hp_class %>"><%= ssr.hp %></strong>
              <% end %>
              </td>
                
              <td>
              <% if atk_class == "" %>
                <%= ssr.atk %>
              <% else %>
                <strong class="<%= atk_class %>"><%= ssr.atk %></strong>
              <% end %>
              </td>
    
              <td>
                <% if stamina_class == "" %>
                  <%= Ssr.status_str(ssr.stamina) %>
                <% else %>
                  <strong class="<%= stamina_class %>"><%= Ssr.status_str(ssr.stamina) %></strong>
                <% end %>
              </td>
    
              <td>
                <% if speed_class == "" %>
                  <%= Ssr.status_str(ssr.speed) %>
                <% else %>
                  <strong class="<%= speed_class %>"><%= Ssr.status_str(ssr.speed) %></strong>
                <% end %>
              </td>
    
              <td>
                <% if crt_class == "" %>
                  <%= Ssr.status_str(ssr.crt) %>
                <% else %>
                  <strong class="<%= crt_class %>"><%= Ssr.status_str(ssr.crt) %></strong>
                <% end %>
              </td>
    
              <td>
                <% if cost_class == "" %>
                  <%= ssr.cost %>
                <% else %>
                  <strong class="<%= cost_class %>"><%= ssr.cost %></strong>
                <% end %>
              </td>
    
              <td>
                <% if sp_class == "" %>
                  <%= ssr.sp %>
                <% else %>
                  <strong class="<%= sp_class %>"><%= ssr.sp %></strong>
                <% end %>
              </td>
    
              <td>
                <% sp_ratio = "%.15g"%(ssr.sp_ratio / 10.0) %>
                <% if sp_ratio_class == "" %>
                  <%= sp_ratio %>
                <% else %>
                  <strong class="<%= sp_ratio_class %>"><%= sp_ratio %></strong>
                <% end %>
              </td>
              <td>
                <% sp_atk = "%.15g"%(ssr.sp_atk / 10) %>
                <% if sp_atk_class == "" %>
                  <%= sp_atk %>
                <% else %>
                  <strong class="<%= sp_atk_class %>"><%= sp_atk %></strong>
                <% end %>
              </td>
            </tr>
          <% end %>
          
          <% if @ssrs.count > 0 %>
            <tr class="average">
              <td colspan="4">平均値(SSRのみ)</td>
              <td><%= "%.15g"%(@average[:hp].round(1)) %></td>
              <td><%= "%.15g"%(@average[:atk].round(1)) %></td>
              <td><%= Ssr.status_str(@average[:stamina].round) %></td>
              <td><%= Ssr.status_str(@average[:speed].round) %></td>
              <td><%= Ssr.status_str(@average[:crt].round) %></td>
              <td><%= "%.15g"%(@average[:cost].round(1)) %></td>
              <td><%= "%.15g"%(@average[:sp].round(1)) %></td>
              <td><%= "%.15g"%(@average[:sp_ratio] / 10.0).round(1) %></td>
              <td><%= "%.15g"%(@average[:sp_atk] / 10.0).round(1) %></td>
            </tr>
          <% end %>
          
        </tbody>
      </table>
    </div>
  </section>
  
  <section id="explain">
    <div class="my-4">
      <h2 class="mb-1">注意</h2>
      <ul>
        <li><span class="UR">　</span>色の行はURの勇者です(参考値)。</li>
        <li><span class="MR">　</span>色の行はMRの勇者です(参考値)。</li>
        <li><span class="SR">　</span>色の行はSRの勇者です(参考値)。</li>
        <li><span class="R">　</span>色の行はRの勇者です(参考値)。</li>
        <li>必殺技倍率は連撃の場合はすべての倍率を足した値になっています。</li>
        <li>必殺技倍率に属性特効は加味していません。</li>
        <li>敵の最大HPの○割というものがある必殺技は1倍で計算しています。</li>
        <li>数字はすべて覚醒なし、Lv1のものです。</li>
      </ul>
    </div>
  </section>
  
  <%= render 'shared/backlink' %>
</main>
